@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(//db.onlinewebfonts.com/c/6f654b0b7ea8cedb893c861b67ad763a?family=Algerian);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

button {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    border: 1px solid #eb7434;
    border-radius: 5px;
    width: 7em;
    height: 2.5em;  
    transition: 0.6s;
}

button:hover {
    background-color: #eb7434;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 1em 5em 1em;
}

.header h1 {
    color: #000000;
    font-size: 4em;
    font-family: 'Algerian';
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px red, 
                 0 0 30px orange, 
                 0 0 40px orange, 
                 0 0 55px orange, 
                 0 0 70px red;
}

.header h2 {
    color:#FFFFFF;
    font-family: 'Algerian';
	font-size: 2em;
}

.dropdown_menus {
    display: flex;
    justify-content: center;
    flex: 100%;
    gap: 3em;
    margin: 2em 0 2em 0;
}

.dropdown {
    margin: 2em 0 0 0;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content button {
      margin: 5px 5px 5px 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .sidebar {
    width: 70px;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 40px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
    padding: 0px 0;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
  }
  
  .sidebar-right-badge {
    width: 70px;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 40px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
  }
  
  .sidebar-left {
    width: 90px;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 95px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
  }
  
  .sidebar-left a {
    //padding: 6px 8px 6px 16px;
    display: block;
	margin-top: 15px;
  }
  
  .sidebar-right {
    width: 90px;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 95px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    overflow-x: hidden;
  }
  
  .sidebar-right-badge a {
    //padding: 6px 8px 6px 16px;
    display: block;
	margin-top: 15px;
  }
  
  .sidebar-right a {
    //padding: 6px 8px 6px 16px;
    display: block;
	margin-top: 15px;
  }

  #tfheader {
    display: flex;
    flex: 100%;
    justify-content: center;
	color: #eb7434;
  }

  #searchbar {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    max-width: 20em;
    border: 1px solid #000000;
    margin-right: 0.5em;
    height: 2em;  
  }

  #searchsubmit {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    border: 1px solid #eb7434;
    width: 5em;
    height: 2em;  
    transition: 0.6s;
	padding: 5px 15px;
  }

  #searchsubmit:hover {
    background-color: #eb7434;
    color: #ffffff
  }
  
#slider-video{
    width: 50%;
	margin-left: auto;
    margin-right: auto;
}

.social-sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3em 0 3em 0;
    gap: 3em;
	background-color: rgba(0,0,0,0.5);
}

.social-sidebar a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 25px;
    transition: 0.6s;
}

.social-sidebar .facebook {
    background-color: #167feb;
    width: 7em;
    text-align: center;
    height: 2em;
	border-radius: 25px;
}

.social-sidebar .twitter {
    background-color: #00acee;
    width: 7em;
    text-align: center;
    height: 2em;
	border-radius: 25px;
}

.social-sidebar .linkedin {
    background-color: #0e76a8;
    width: 7em;
    text-align: center;
    height: 2em;
	border-radius: 25px;
}

.social-sidebar a:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.sidebar-left a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 25px;
    transition: 0.6s;
}

.sidebar-left .linkedin {
    background-color: #0e76a8;
	text-align: center;
	border-radius: 0px 0px 25px;
}

.sidebar-right a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 25px;
    transition: 0.6s;
}

.sidebar-right .facebook {
    background-color: #167feb;
    width: 7em;
    text-align: center;
    //height: 2em;
	border-radius: 25px;
}

.sidebar-right .twitter {
    background-color: #00acee;
    width: 7em;
    text-align: center;
    //height: 2em;
	border-radius: 25px;
}

.sidebar-right .linkedin {
    background-color: #0e76a8;
    width: 7em;
    text-align: center;
    //height: 2em;
	border-radius: 25px;
}

.sidebar-left a:hover {
    background-color: #FFFFFF;
    color: #000000;
    //border: 1px solid #000000;
}

.sidebar-right a:hover {
    background-color: #FFFFFF;
    color: #000000;
    //border: 1px solid #000000;
}
.phone-social-links{
    display: none;
}

.scroll {
    display: none;
    float: right;
    width: 60px;
    height: 60px;
    //margin: 0 2em 5em 0;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.3;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.3;
    }
}


@media all and (max-width: 500px) {
    .dropdown_menus {
        gap: 1em;
    }

    .social-sidebar {
        gap: 1em;
    }

    .sidebar {
        display: none;
    }
}