/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

*					{ margin: 0; padding: 0; }
body				{ font: 14px Georgia, serif; }

#page-wrap		    { width: 500px; margin: 0 auto; }

h1                  { margin: 25px 0; font: 14px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }

#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 0 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}





#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font: 44px Georgia, Serif;
}
/*you tube videos*/
/* Additionnal styles */
   .video-slider {
      height: 20em;
      background: #444;
      position: relative;
      overflow: hidden;
   }
   .slide {
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 100%;
      text-align: center;

   }
   .slide:first-child{
      left: 0;
   }
   .video{
      height: 100%;
      width: 100%;
      border:0;
   }
   .slide-arrow{
      position: absolute;
      top: 0;
      left: 0;
      height: 45%;
      width: 15%;
      cursor: pointer;
      opacity: .2;
   }
   .slide-arrow:hover{
      opacity: 1;
   }
   .slide-arrow:after{
      content: "\003c";
      text-align: center;
      display: block;
      height: 10%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 3em;
      color: white;
   }
   .slide-arrow.right:after{
      content: "\003e";
      color: white;
      
   }
   .slide-arrow.right{
      left: auto;
      right: 0;
   }